@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.mainContent {
  background-color: #e5e5e5;
  height: 200%;
  padding-top: 100px;
  padding-bottom: 10vh;
  justify-content: center;
}

.cardProduct {
  width: 250px;
}

.cardName {
  font-size: 18px;
  font-weight: bold;
  color: #4b1f09;
}
.cardText {
  margin-top: 20px;
  color: #4b1f09;
}

.cardWrapper {
  width: 85vw;
  padding-left: 6vw;
  display: flex;
  flex-wrap: wrap;
}
.cardBody {
  background-color: #dbb699;
  height: 100%;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: black;
}

.partnerImage {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  justify-content: center;
}

.cartEmpty {
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 1300px) {
  .cardWrapper {
    width: 100vw;
    padding-left: 6vw;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 900px) {
  .cardWrapper {
    width: 100vw;
    /* padding-left: 6vw; */
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  .cardProduct {
    width: 170px;
  }
  .partnerImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    justify-content: center;
  }

  .cardWrapper {
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}
